a{
  color: #FEBE8C;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
body{
  margin: 0px;
}
.bottom{
  background-color: #C58940;
  margin: 0px auto;
  padding: 50px 0px 20px;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}


.top{
  background-color: #FAEAB1;
}
h1{
  color: #C58940;
  text-align: center;
  font-size: 40px;
  /* width: 30%; */
  line-height: 1;
  /* margin: 50px 90px 0 auto; */
  font-family: 'Montserrat', sans-serif;
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 16px;
  display: inline-block;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 16px;
  display: inline-block;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color: white;
}



/* Add padding to containers */
.container {
  padding: 18px;
  margin: 0px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.btns {
  position: absolute;
  background: ##FAEAB1;
  background-image: -webkit-linear-gradient(top, #FAEAB1, #FAEAB1);
  background-image: -moz-linear-gradient(top, #FAEAB1, #FAEAB1);
  background-image: -ms-linear-gradient(top, #FAEAB1, #FAEAB1);
  background-image: -o-linear-gradient(top, #FAEAB1, #FAEAB1);
  background-image: linear-gradient(to bottom, #FAEAB1, #FAEAB1);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
  color: #C58940;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btns:hover {
  background: #FAAB78;
  background-image: -webkit-linear-gradient(top, #FAAB78, #FAAB78);
  background-image: -moz-linear-gradient(top, #FAAB78, #FAAB78);
  background-image: -ms-linear-gradient(top, #FAAB78, #FAAB78);
  background-image: -o-linear-gradient(top, #FAAB78, #FAAB78);
  background-image: linear-gradient(to bottom, #FAAB78, #FAAB78);
  /* color: #251B37; */
  text-decoration: none;
